/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#0D0714;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    
}


.app__wrapper{
    width: 350px;
    min-height: 50vh;
    position: absolute;
    top: 20%;
    left: 35%;

}

.input__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;


    /* sticky at the top if more todos are added */
    position: sticky;
    top: 0%;
    left: 35%;
    z-index: 10;
}

.app__wrapper input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #3E1671;
    border-radius: 10px;
    padding: 0 10px;

    color: #9e78cf;
}

.app__wrapper input:focus{
    outline: none;
}

.app__wrapper button{
    width: 45px;
    height: 40px;
    background:#9e78cf;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-wrapper{
    margin: 50px 0;

   
}

.counter{
    margin: 10px auto;
    color: white;
    padding: 0 4px;
}

.todo-item__wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-item{
    background-color:#15101C;
    padding: 10px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #9e78cf;
}

.marks{
    display: flex;
    align-items: center;
    gap: 10px;
}

.done-text{
    color:#78CFB0;
    text-decoration: line-through;
}