/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#0D0714;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
    
}

ul{
    list-style: none;
    user-select: none;
}

ul li:hover{
    background-color: hsl(268, 4%, 5%);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}
.container{
    width: 450px;
    min-height: 30vh;
    background-color: #1D1825;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    left: 35%;


    padding: 30px 50px;
}

.app__wrapper{
    width: 350px;
    min-height: 30vh;
}

.input__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;


    /* sticky at the top if more todos are added */
    /* position: sticky;
    top: 10%;
    left: 35%;
    z-index: 10; */
}

.app__wrapper input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #3E1671;
    border-radius: 10px;
    padding: 0 10px;

    color: #9e78cf;
}

.app__wrapper input:focus{
    outline: none;
}



.app__wrapper button{
    width: 45px;
    height: 40px;
    background:#9e78cf;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}


.app__wrapper button:hover{
    background-color: rgba(158, 120, 207, .9);
    transition: all 0.3s ease;
}

.error{
    color: red;
    font-size: 12px;
}






.section-one{
    margin-top: 50px;
}

.todo-wrapper{
    margin: 10px 0;

   
}

.done-wrapper{
    margin: 10px 0;

   
}

.counter{
    margin: 10px auto;
    color: white;
    padding: 0 4px;
}

.todo-item__wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.done-item__wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-item{
    background-color:#15101C;
    padding: 10px 15px;

    display: flex;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #9e78cf;
    margin-bottom: 15px;
}


.done-item{
    background-color:#15101C;
    padding: 10px 15px;

    display: flex;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #9e78cf;
    margin-bottom: 15px;
}

.marks{
    display: flex;
    align-items: center;
    gap: 10px;
}


.marks img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.section-one{
    margin-top: 30px;
}
.done-text{
    color:#78CFB0;
    text-decoration: line-through;
}


.side-bar{
    background-color:#1D1825;
    width: 80px;
    height: 70vh;
    color: #9e78cf;
    padding: 20px;
    gap: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    cursor: pointer;
    border-radius: 15px;
    margin-top: 2rem;
}

.side-bar .profile {
    width: 40px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.side-bar .profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.side-bar .profile img:hover{
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.side-bar .profile p{
    font-size: 12px;
    font-weight: 600;
}


.side-bar i{
   font-size: 25px;
   color: #3E1671;
}


.side-bar i:hover{
    color: #9e78cf;
    transform: scale(1.8);
    transition: all 0.5s ease-in-out;
}

#todo-count{
    font-size: 14px;
    font-weight: 600;
    color: #9e78cf;
}
/* media-Queries */


@media (max-width: 768px) {
    .container{
        width: 350px;
        min-height: 30vh;
        background-color: #1D1825;
        border-radius: 10px;
        position: absolute;
        top: 2%;
        left: 21%;
    
    
        padding: 30px 50px;
    }
        
    .app__wrapper{
        width: 100%;
        min-height: 30vh;
    }
    /* .side-bar{
       display: none;
    } */
}